<h1>List of all Clients</h1>
<ul>
    <li class="bg-red-200">
        <p><%= @allClient.to_a[0].name %></p>
        <p><%= @allClient.to_a[0].age %></p>
        <p><%= @allClient.to_a[0].status %></p>
    </li>
</ul>
